body{
  background-color: #eee;
}

#notes-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.card-body{
  padding: 10px;
}

.card-auth{
  padding: 0;
  margin: 0;
}

.auth-header{
  margin-top: 20px;
  margin-bottom: 16px;
  color: #343a40;
}

.auth-inp{
  border: none;
  border-bottom: 1px solid #343a40;
  /* background-color: blue; */
}

.auth-btn {
  background-color: #343a40;
  color: #f6f6f6;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.auth-p {
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}